@section DescriptionMeta
{
    <meta name="description" content="Northern Colorado is in a high desert climate so it's important to perform lawn aeration on your Fort Collins home with our core aeration at least once a year." />
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">
                    Lawan   
                    <strong>Aeration</strong>
                    Benefits
                </h1>
                <hr>
                <p>
                    Performing a core aeration on your lawn is one of the most useful things you can do. 
                    A core aeration pulls out cores throughout the lawn. These cores will break apart in about 
                    ten days and become the new topsoil for the turf. Because Northern Colorado is in a high desert 
                    climate it is important to perform lawn aeration on your Fort Collins home at 
                    least once per year. Clay soils should be aerated at least twice per year to increase porosity in the soil profile. 
                    Typically it is best to do in the spring and in the fall. The lawn aeration will help maximize your turfs water 
                    use by opening up the soil for better water penetration. It also helps remove thatch which acts as a barrier to water 
                    and sunlight and is a medium for disease and fungus. Thatch can either be decomposed or undecomposed grass and other 
                    plant matter. Another benefit is that it oxygenates and softens the soil which promotes deeper root growth. 
                    Finally the aeration will help to unlock the nutrients that can become tide up within the soil.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">
                    Our Core Aeration
                </h1>
                <hr>
                <p>
                    Most companies will perform a single pass aeration.  We take the time to do a double pass to give
                    your turf what it really needs.  That’s two aerations for the price of one!  A single pass will pull one
                    core out every 5-6 inches.  That’s only 2-3 per square foot.  This is simply not enough.  By providing
                    a double pass core aeration your lawn is getting the full benefit from this useful technique.  For an
                    additional charge we will flag your heads to prevent hitting them with our machines.  Pair our
                    aeration with any sprinkler turn on, over seeding, mowing, or fertilizer plans or services to save even
                    more!
                </p>
                <p>
                    Fort Collins Lawn Aeration and sprinkler turn combinations receive a 15% discount and we will mark your sprinkler heads before we aerate!!! 
                    Get 2 jobs done at once and save $$$!!!
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">
                    Customer Preparation
                </h1>
                <hr>
                <p>
                    From the customers end there are a few things that can be done to better optimize the aeration.
                    When preparing for our arrival, if possible, water the night before.  This helps soften the soil.  Pre
                    watered turf will allow us to pull out the optimal 2” cores. If needed, it is best to mow the lawn the day
                    before our arrival as well.  Tall grass will act as a barrier to the tines in our machines.  Marking your
                    sprinkler heads will prevent them from being hit by our machines.  We offer to mark your sprinkler
                    heads for an additional charge.  We are not responsible for broken unmarked sprinklers or invisible
                    dog fences.  It is our standard procedure to stay approximately one foot away from the perimeter of
                    the lawn but if you have an invisible dog fence then it is beneficial to mark that with flags as well.
                    Please notify us of any invisible dog fences, stairs to access any turf, and any community or gate
                    lock codes that we may need to fully access the lawn.
                </p>
            </div>
        </div>
    </div>


</div>
<!-- /.container -->