<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Reliable
                    <strong>Fertilization</strong>
                </h2>
                <hr>
                <p>
                    The best way to fight off weeds is to maintain a lush, green lawn.  Our fertilization plans give you
                    options based on the condition of your turf.  You can choose to have a onetime service or a season 
                    long plan.  Pair our fertilization with our mowing service to save even more!  Our fertilizer is a slow 
                    release formula that allows your turf to have a consistent nutrition supply throughout the year.  We 
                    apply the most ideal amounts of nutrients for specific times during the summer.  On our first visit to 
                    your home we will take a core sample to check the current root depth as well as a pH test to help 
                    evaluate the condition of your soil.  Our fertilizer is held to the highest environmental standards and 
                    are phosphorous free.  When enrolled in a plan that includes an aeration, we will schedule the aeration right before
                    the fertilization to establish ideal conditions for your turf.  We provide detailed 
                    information on exactly what was applied to your lawn to ensure your knowledge and safety.
                </p>

                <p>
                    We offer a water optimization treatment included in our silver and gold plans. The treatment binds to
                    both water and the grass roots to prevent water stress during the hot midsummer months.  This can
                    reduce your turfs water needs by up to 50%! It is highly recommended for any lawn.  Any services
                    included with our plans can be ordered individually.
                </p>

                <iframe width="420" height="315"
                        src="http://www.youtube.com/embed/y3BFx3y89V8">
                </iframe>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->