<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Dedicated
                    <strong>Mowing</strong>
                </h2>
                <hr>
                <p>
                    Mowing with large riding or standing lawn equipment is a shortcut that most turf management
                    companies take.  This compacts the soil and puts risk on damaging borders and landscape.  We use
                    21” double bladed push mowers.  We sharpen our blades daily.  By ensuring that the grass blades
                    are cut cleanly instead of tearing the blades, the grass can heal quickly and prevent the introduction
                    of disease.  By changing directions in our mowing patterns each week, we prevent ruts and matted
                    turf.  We also bag and remove the clippings to prevent disease and leave your turf with a top notch
                    appearance.  Our lawn service includes edging the concrete every visit as well as trimming all
                    boarders.  We are sure to blow off any concrete, pathways, and all other places grass may have
                    fallen during our visit to your home.  All of our equipment meets environmental emission standards.
                    We offer weekly, bi-weekly, and one time services.  Prepay with a check for any season long plans
                    and receive a 5% discount!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->