<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">
                    <strong>Holiday Lighting</strong>
                </h1>
                <hr>
                <img class="img-responsive img-border" src="@Url.Content("~/Content/img/HolidayWonderland.jpg")">
                <br />
                <p>
                    Our lighting service is unlike any other in northern Colorado.  We can take your home and make it
                    the most eye popping home on the block.  Don’t stress this holiday season with cords, bulbs, latters,
                    and ice.  We take pride in our lighting work and we know you will too.  Whether you want lights hung
                    that are your family tradition or you would like to buy our one of a kind lights, we will be glad to
                    decorate your home.  Take the time this season and spend it with family and friends.  We know you
                    will absolutely love our holiday lighting.  Schedule an appointment to have us come show you just
                    how beautiful your property can be during the holiday season.  We use a computer program to drag
                    and drop lights and ornaments so that you can see what the property will look like even before we
                    put up any lights.

                    <a href="https://www.holidynamics.com" target="_blank">Click Here</a>
                    to check out the online catalog.

                </p>
                <br />
                <img class="img-responsive img-border" src="@Url.Content("~/Content/img/HolidayLights.jpg")">
            </div>
        </div>
    </div>
</div>
<!-- /.container -->