<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Intelligent
                    <strong>Irrigation</strong>
                </h2>
                <hr>
                <p>
                    Our sprinkler technicians are trained in the trade and have the experience to identify issues and
                    recommend solutions to the problem.  We can express how your system could be more water
                    efficient and save you money.  Our installations are done with the highest in quality parts and are
                    some of the most water efficient systems available.  We provide a two year warranty on parts.  Our
                    water efficient installations are environmentally friendly and save you money! Pair a startup
                    with an aeration to save even more!
                </p>
                <p>
                    Aeration and sprinkler turn on combinations receive a 15% discount and we will mark your sprinkler
                    heads before we aerate!!!  Get 2 jobs done at once and save $$$!!!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                @*<h2>
                        Our Sprinkler plan includes:
                    </h2>
                    <ul>
                        <li>A beginning of the season turn on</li>
                        <li>A midsummer evaluation and adjustment</li>
                        <li>An end of the season winterization </li>
                        <li>Summer savings of 10%, prepay with a check and receive an additional 5% off</li>
                        <li>Recommendations on how you can save water and mone</li>
                    </ul>*@
                <h2>
                    Some of our common services include:
                </h2>
                <ul>
                    <li>Problem diagnostics</li>
                    <li>Backflow repair</li>
                    <li>Valve repair</li>
                    <li>Tree root repair</li>
                    <li>Controller repair</li>
                    <li>Move/Replace heads</li>
                    <li>Efficiency evaluations</li>
                    <li>New installations</li>
                    <li>Startups</li>
                    <li>Winterization with a constant pressure, tow behind air compressor</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    High Efficiency
                    <strong>Nozzles</strong>
                </h2>
                <hr>
                <p>
                    High efficiency nozzles have become the standard and set a new bar in turf irrigation.  By using
                    multiple rotating streams the water can be applied more slowly.  This allows the water more time to
                    penetrate the soil and soak into the root bed.  This prevents runoff and evaporation.  Installing high
                    efficiency nozzles is the best investment you can make on your irrigation system.  The cities of
                    Greeley and Fort Collins water districts will credit your next water bill just for installing these new
                    nozzles for your turf.  They can cover a much wider range than traditional nozzles as well.  They are
                    a great fix for water pressure issues, brown spots, poor coverage, and high runoff from clay soils and
                    slopes.  Call us today for a free estimate to change your system into a high efficiency system that
                    will conserve water and start saving you money by the end of the summer! 


                    @* nick writes html and csss ghettoooo *@
                    <br />
                    <br />

                    <a href="http://www.fcgov.com/utilities/residential/conserve/water-efficiency/water-efficient-sprinkler-systems/sprinkler-equipment-rebates" target="_blank">Click Here</a>
                    to view the available sprinkler system discounts.
                    <br />
                    <br />
                </p>

                <iframe width="420" height="315"
                        src="http://www.youtube.com/embed/vj_3ifs16Cs"></iframe>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="box">
            <div class="col-sm-6 text-center">
                <img class="img-responsive" src="@Url.Content("~/Content/img/hunter.png")" alt="hunter">
            </div>
            <div class="col-sm-6 text-center">
                <img class="img-responsive" src="@Url.Content("~/Content/img/irritrol-big.jpg")" alt="irritrol">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->