@section DescriptionMeta
{
    <meta name="description" content="We offer an array of landscape and lawn care services and our Fort Collins landscape professionals are trained to spot issues and recommend solutions." />
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">
                    <strong>Landscape design in Fort Collins</strong>
                </h1>
                <hr>
                <p>
                    Our Fort Collins landscape professionals are trained to spot issues and recommend solutions. We offer an array of landscape and lawn care services.
                    Whether it’s a new installation or a spring cleanup, we will take the time and care that landscapes need to continue to look new, refreshed, and lively.
                    We offer annual lawn care services so you can schedule a custom summer plan and never think twice about the appearance of your landscape.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h3>Our cleanup service includes:</h3>
                <ul>
                    <li>Hand weed removal</li>
                    <li>Deadheading and pruning</li>
                    <li>Raking</li>
                    <li>Needle removal</li>
                    <li>Landscape irrigation check</li>
                </ul>
            </div>
            <h3>Additional lawn care services:</h3>
            <ul>
                <li>Replenishing rock and mulch</li>
                <li>Hand weed removal</li>
                <li>Fall/Spring cleanups</li>
                <li>Deadheading and pruning</li>
                <li>Bush/Plant removal</li>
                <li>New installations</li>
                <li>Add/Remove sod</li>
                <li>Raised garden beds</li>
                <li>Pathways and patios</li>
                <li>Irrigation</li>
                <li>Landscape lighting – Truly brightens up your landscape!</li>
                <li>Tilling and grading</li>
                <li>Downspouts – Take gutters straight into the ground and away from your house!  Stop tripping over those annoying white downspouts!  Our drains look professional and clean.</li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->